.pie-container {
  transition: padding .7s ease;
  padding: 10px 13%;
}

#pieChart {

  max-width: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  counter-reset: break-point 80; 
}

#pieChart svg {
  overflow: visible;
  transition: width .7s ease;
}

#pieChart path {
  cursor: pointer;
}

#pieText {

  overflow: visible;      
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pieText .panel {
  background-color: #111;
  border: groove 4px #222;
  box-shadow: 8px 10px 20px #000,
    4px 5px 25px #000;
  width: 100%;
  height: 60%;
  border-radius: 7px;
  padding: 0 3px;
  float: left;
  transition: height .7s ease, padding .7s ease;

  perspective: 650px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  overflow: hidden;
  transform-style: preserve-3d;
}





#segmentTitle, #segmentText {

  text-align: center;
}

#segmentTitle {

  transition: padding .7s ease;


}

#segmentText {
  width: 100%;
  transition: padding .7s ease, line-height .7s ease;
  padding: 0;
  margin: 0;

  line-height: 28px;
}



/* // Extra small devices (small phones, less than 360px) */
@media (max-width: 360px) {
  div.pie-container {
    padding: 10px 12%;
  }
  div.pie-container #pieText {
    margin-top: 15px;
  }
  div.pie-container #pieText .panel {
    height: 230px;
    padding: 0;
  }
  div.pie-container #pieText .panel  #segmentTitle {
    padding: 2px 4px 4px;
  }
  div.pie-container #pieText .panel  #segmentText {
    padding: 2px 4px 4px;
    line-height: 16px;
  }
  div.pie-container #pieChart {
    counter-reset: break-point 40;
  }
  div.pie-container #pieChart svg {
    width: 100%;
  }
}
/* 
@media (min-width: 360.02px) and (max-width: 442px) {
  div.pie-container {
    padding: 10px 10%;
    
    #pieChart {
      counter-reset: break-point 53;

      svg {
        width: 70%;
      }
    }

    #pieText {
      margin-top: 15px;
      
      .panel {
        height: 210px;
        padding: 0;

        #segmentTitle {
          padding: 4px;
        }
        #segmentText {
          padding: 4px;
          line-height: 18px;
        }
      }
    }
  }
} */
/* // Small/XS devices (portrait phones, less than 576px)
@media (min-width: 442.02px) and (max-width: 575.98px) {
  div.pie-container {
    padding: 10px 10%;

    #pieChart {
      counter-reset: break-point 60;

      svg {
        width: 70%;
      }
    }

    #pieText {
      margin-top: 15px;

      .panel {
        height: 200px;
        padding: 0;

        #segmentTitle {
          padding: 4px;
        }
        #segmentText {
          padding: 0 4px 4px;
          line-height: 21px;
        }
      }
    }
  }
}
// Small devices (smart phones/notebook phone, less than 638px wide)
@media (min-width: 576px) and (max-width: 637.98px) {
  div.pie-container {
    padding: 10px 12%;

    #pieChart {
      counter-reset: break-point 70;

      svg {
        width: 60%;
      }
    }

    #pieText {
      margin-top: 20px;

      .panel {
        padding: 0;
        height: 205px;

        #segmentTitle {
          padding: 8px;
        }
        #segmentText {
          padding: 0 8px 8px;
          line-height: 24px;
        }
      }
    }
  }
}
// Bootstrap col-md Breakpoint at 767px
@media (min-width: 638px) and (max-width: 767px) {
  div.pie-container {
    padding: 10px 15%;

    #pieChart {
      counter-reset: break-point 80;

      svg {
        width: 60%;
      }
    }

    #pieText {
      margin-top: 20px;

      .panel {
        padding: 0 3px;
        height: 270px;

        #segmentTitle {
          padding: 15px;
        }
        #segmentText {
          padding: 15px;
          line-height: 27px;
        }
      }
    }
  }
}
// Medium-Small Devices (tablets and smaller, 767px to 965px)
@media (min-width: 767.02px) and (max-width: 965px) { 
  div.pie-container {
    padding: 10px 4%;

    #pieChart {
      counter-reset: break-point 50;
    }

    #pieText .panel {
      height: 82%;
      padding: 0;

      #segmentTitle {
        padding: 8px;
      }
      #segmentText {
        padding: 0 8px 8px;
        line-height: 23px;
      }
    }
  }
}
// Medium-Large Devices (laptop, 965px to 1314px)
@media (min-width: 965.02px) and (max-width: 1314px) {
  div.pie-container {
    padding: 10px 5%;

    #pieChart {
      counter-reset: break-point 60;
    }

    #pieText .panel {
      height: 70%;

      #segmentTitle {
        padding: 10px;
      }

      #segmentText {
        padding: 5px 10px 10px;
      }
    }
  }
}

// Large Monitors (Smaller than mine)
@media (min-width: 1314.02px) and (max-width: 1480px) {
  div.pie-container {
    padding: 10px 8%;

    #pieChart {
      counter-reset: break-point 70;
    }
    #pieText .panel {
      #segmentText {
        padding-top: 10px;
      }
    }
  }
} */