* {
  box-sizing: border-box;
}

body {
   font-family: "Homemade Apple";
}

.row {
  width:100%
}

.postcard {
  width: 100%;
  height: 35%;
  background-color: #fcf0dc;
  color: black;
  background-image: url("./images/green-dust-and-scratches.png");
  display: flex;
  justify-content: space-between;
  padding: 1em;
	border: 16px solid transparent;
	border-image: 16 repeating-linear-gradient(-45deg, red 0, red 1em, transparent 0, transparent 2em,
	              #58a 0, #58a 3em, transparent 0, transparent 4em);
  	/* -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png'); */
  -webkit-mask-size: 944px 604px;
	
	font: 100%/1.6 Baskerville, Palatino, serif;
}

p {
  display: inline;
  font-size: 0.7em;
}

a {
  font-family: "Abril Fatface", sans-serif;
}

/*form*/
input,
textarea {
  background-color: transparent;
  border: none;
  border-radius: 4%;
  height: 1.9em;
  width:100%;
  font-size: 1.5em;
  font-family: "Homemade Apple";
}

input:focus,
textarea:focus {
   outline-color: pink;
}

.mail_stamp {
  transform: rotate(1deg);
  width: 14rem;
  float: right;
  margin-bottom: 5%;
  position: absolute;
    top: 1rem;
    right: 1.5rem;
}
.mail_stamp2 {
  transform: rotate(2deg);
  width: 11.3rem;
  float: right;
  margin-bottom: 5%;
  position: absolute;
    top: 1rem;
    right: 22rem;
}

.mail_stamp3 {
  transform: rotate(2deg);
  width: 13rem;
  float: right;
  margin-bottom: 5%;
  position: absolute;
    top: 0.5rem;
    right: 10rem;
}
.mail_stamp4 {
  transform: rotate(2deg);
  width: 10rem;
  float: right;
  margin-bottom: 5%;
  position: absolute;
    top: 3.5rem;
    right: 11rem;
}

.whale-stamp {
  transform: rotate(2deg);
  width: 25rem;
  float: left;
  margin-bottom: 5%;
  position: absolute;
    bottom: 1.5rem;
    left: 3rem;
  opacity: 0.3;
}


.address form input , .address input {
  margin-top: 14%;
  border-bottom: dashed 2px #41403E;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  
}

.line-right {
  border-right: dashed 2px #41403E;
}

textarea {
  transform: rotate(-1deg);
  overflow: auto;
  resize: none;
  height: 18em;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1em;
}

.push{
  margin-bottom: 1em;
  margin-top: .5em;
}

.social a {
    transition: all .3s ease;
    text-decoration: none;
    padding-left: 1rem;
}

.social {
  padding-top:2%;
}

input.btn-send {
  height: auto;
  width: auto;
}

.btn-success.disabled, .btn-success:disabled, .btn-send {
  background: none;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: color 0.3s,background 0.3s;
  transition: color 0.3s,background 0.3s;
}

.with-errors {
  font-size: 0.7rem;
  color: red;
}